@page
@model ProcurementTracker.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Users";
}

<h3>Users</h3>
<hr />

<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-light btn-outline-secondary"><i class="fas fa-plus-square"></i> Add User</a>
<br /><br />

@if (Model.ApplicationUsers != null)
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUsers![0].Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUsers![0]!.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUsers![0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUsers![0]!.Email)
                </th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ApplicationUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="col-1">
                        <a class="text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Manage <i class="fas fa-clipboard-list"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No Users have been added to the system</h1>
}