@page
@model ProcurementTracker.Pages.Bids.DetailsModel

@{
    ViewData["Title"] = "Details";

    var procurementsRouteData = new Dictionary<string, string>
    {
        {"procurementid", @Model.ProcurementId.ToString()}
    };
}

<h1>Bid Details</h1>
<h4>Procurement: @Model.ProcurementId</h4>
<hr />

<p>
    <a asp-page="./Index" asp-all-route-data="@procurementsRouteData" class="btn btn-light btn-outline-secondary">Back to Procurement Bids</a>
    <a asp-page="./Edit" asp-route-id="@Model.Bid.Id" class="btn btn-light btn-outline-secondary">Edit</a>
</p>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.QuotedFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.QuotedFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.Submitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.Submitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.ValidPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.ValidPeriod)
        </dd>
    </dl>
</div>
