@page
@model ProcurementTracker.Pages.Bids.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Bid Details</h1>
<h4>Procurement: @Model.Bid.Procurement.Description</h4>
<hr />

<partial name="Bids/ActionBar/_BidDetailsActionBar" />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="/Suppliers/Details" asp-route-id="@Model.Bid.Supplier.Id">
                @Html.DisplayFor(model => model.Bid.Supplier.Name)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.QuotedFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.QuotedFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.Submitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.Submitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.ValidPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.ValidPeriod)
        </dd>
    </dl>
</div>
