@page "procurement/{procurement:guid}"
@model ProcurementTracker.Pages.Bids.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Procurement Bids</h1>

<p>
    <a asp-page="../procurements/details" asp-route-id="@Model.Procurement" class="btn btn-light btn-outline-secondary">Back to Procurement</a>
    <a asp-page="Create" class="btn btn-light btn-outline-secondary">Add Bid</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].Submitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].ValidPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bid) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidPeriod)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
