@page
@model ProcurementTracker.Pages.Bids.IndexModel

@{
    ViewData["Title"] = "Procurement Bids";
}

<h1>Bids</h1>

<partial name="Bids/ActionBar/_BidIndexActionBar" />

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].Supplier.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].QuotedFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].Submitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid[0].ValidPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bid)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuotedFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidPeriod)
                </td>
                <td>
                    @{
                    Dictionary<string, string> routeData = new Dictionary<string, string>();
                        if(Model.HasProcurementFilter)
                        {
                            routeData.Add("id", item.Id.ToString());
                            routeData.Add("procurementid", @item.Procurement.Id.ToString());
                        }
                        else
                        {
                            routeData.Add("id", item.Id.ToString());
                        }
                    }
                    <a asp-page="./Details" asp-all-route-data="@routeData">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
