@page
@model ProcurementTracker.Pages.Procurements.DetailsModel

@{
    ViewData["Title"] = "Procurement Details";
}

<h1>Procurement Details</h1>
<hr />
<p>
    <a asp-page="./Index" class="btn btn-light btn-outline-secondary"><i class="fas fa-angle-left"></i> Back to Procurements</a>
    <a asp-page="./Edit" asp-route-id="@Model.Procurement.Id" class="btn btn-light btn-outline-secondary @(Model.DisableProcurementEdit ? "disabled" : null)"><i class="fas fa-edit"></i> Edit</a>
</p>

<div class="row action-bar">
    <form asp-page-handler="start" method="post" hidden="@Model.HideStartButton">
        <input type="hidden" id="id" name="id" value="@Model.Procurement.Id" />
        <button class="btn btn-primary">Start Procurement</button>&nbsp;
    </form>
    <form asp-page-handler="issuecontract" method="post" hidden="@Model.HideIssueContractButton">
        <input type="hidden" id="id" name="id" value="@Model.Procurement.Id" />
        <button class="btn btn-success">Issue Contract</button>&nbsp;
    </form>
    <form asp-page-handler="abandon" method="post" hidden="@Model.HideAbandonButton">
        <input type="hidden" id="id" name="id" value="@Model.Procurement.Id" />
        <button class="btn btn-secondary">Abandon</button>&nbsp;
    </form>
    <a asp-page="../bids/index" asp-route-procurementid="@Model.Procurement.Id" class="btn btn-default"><i class="fas fa-box-open"></i> Bids submitted</a>
</div>

<br />
<div>
    <div class="row">
        <div class="col-9 details-content">
            <section id="basic-data">
                <p class="lead">Basic Data</p>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.Subject)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Procurement.Subject)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.Description)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Procurement.Description)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.Status)
                    </dt>
                    <dd class="col-sm-9">
                        <span class="badge bg-@Model.Procurement.StatusColorCode text-white">@Html.DisplayFor(model => model.Procurement.Status)</span>
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.Quantity)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Procurement.Quantity)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.ProcurementType)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Procurement.ProcurementType)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.Department)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Procurement.Department)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.EstimatedAmount)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Procurement.Currency)
                        @Html.DisplayFor(model => model.Procurement.EstimatedAmount)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.FundingSource)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Procurement.FundingSource)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Procurement.ProcurementMethod)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Procurement.ProcurementMethod)
                    </dd>
                </dl>
            </section>
            <section id="initiation-approvals">
                <p class="lead">Initiation Approvals</p>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.AccountingApprovalDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.AccountingApprovalDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.CCApprovalDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.CCApprovalDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.CCSABDApprovalDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.CCSABDApprovalDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.PPQNoticeDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.PPQNoticeDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.PQPSClosingDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.PQPSClosingDate)
                    </dd>
                </dl>
            </section>
            <section id="request-eoi">
                <p class="lead">Request for EoI</p>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.EOIInvitationDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.EOIInvitationDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.EOIClosingDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.EOIClosingDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.EOIShortlistApprovalDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.EOIShortlistApprovalDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.EOINotificationDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.EOINotificationDate)
                    </dd>
                </dl>
            </section>
            <section id="bidding-period">
                <p class="lead">Bidding Period</p>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.BidInvitationDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.BidInvitationDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.BidClosingDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.BidClosingDate)
                    </dd>
                </dl>
            </section>
            <section>
                <p class="lead">Evaluation of Bids</p>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.SERCCDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.SERCCDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.AERCCDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.AERCCDate)
                    </dd>
                </dl>
            </section>
            <section id="negotiations">
                <p class="lead">Negotiations</p>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.NegotiationDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.NegotiationDate)
                    </dd>
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.ANRCCDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.ANRCCDate)
                    </dd>
                </dl>
            </section>
            <section id="administrative-review">
                <p class="lead">Administrative Review</p>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 pb-2">
                        @Html.DisplayNameFor(model => model.Procurement.BEBNoticeDate)
                    </dt>
                    <dd class="col-sm-6 pb-2">
                        @Html.DisplayFor(model => model.Procurement.BEBNoticeDate)
                    </dd>
                </dl>
            </section>
            <!--<section id="contract">
                <p class="lead">Contract</p>
                <hr />
                &nbsp;
            </section>-->
        </div>
        <div class="col-2 details-nav">
            <div class="card">
                <div class="card-header">
                    Sections
                </div>
                <div class="card-body">
                    <a href="#basic-data">Basic Data</a>
                    <a href="#initiation-approvals">Initiation Approvals</a>
                    <a href="#request-eoi">Request for EoI</a>
                    <a href="#bidding-period">Bidding Period</a>
                    <a href="#bids-evaluation">Bids Evaluation</a>
                    <a href="#negotiations">Negotiations</a>
                    <a href="#administrative-review">Administrative Review</a>
                    <!--<a href="#contract">Contract</a>-->
                </div>
            </div>
        </div>
    </div>
</div>