@page
@model ProcurementTracker.Pages.Procurements.IndexModel

@{
    ViewData["Title"] = "Procurements";
}

<h1>Procurements</h1>
<hr />

<p>
    <a asp-page="Create" class="btn btn-light btn-outline-secondary">Add Procurement</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Procurement[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement[0].ProcurementMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Procurement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcurementMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
