@page
@model ProcurementTracker.Pages.Procurements.IndexModel

@{
    ViewData["Title"] = "Procurements";
}

<h3>Procurements</h3>
<hr />

<p>
    <a asp-page="Create" class="btn btn-light btn-outline-secondary"><i class="fas fa-plus-square"></i> Add Procurement</a>
</p>
<div class="card bg-light mb-2 h-20">
    <div class="card-body">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-12">
                    <label><small>Search</small></label>
                    <input type="text" class="form-control form-control-sm" value="@Model.SearchText" name="SearchText" placeholder="Enter search keywords...">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label><small>Plan</small></label>
                    <select asp-for="Plan" class="form-control form-control-sm">
                        <option selected>Choose...</option>
                        <option>BUDGET</option>
                        <option>PROCUREMENT PLAN</option>
                    </select>
                </div>
                <div class="form-group col-4">
                    <label><small>Procurement Method</small></label>
                    <select asp-for="ProcurementMethod" value="@Model.ProcurementMethod" class="form-control form-control-sm" asp-items="@Model.ProcurementMethods">
                        <option selected>Choose...</option>
                    </select>
                </div>
                <div class="form-group col-4">
                    <label><small>Status</small></label>
                    <select asp-for="ProcurementStatus" value="@Model.ProcurementStatus" class="form-control form-control-sm" asp-items="@Model.ProcurementStatuses">
                        <option selected>Choose...</option>
                    </select>
                </div>
            </div>
            <button asp-page-handler="search" class="btn btn-primary btn-sm">Search</button>
            <button asp-page-handler="clear" class="btn btn-light btn-sm">Clear</button>
        </form>
    </div>
</div>
<br />
<h6>Search results</h6>
<hr />

@foreach (var procurement in Model.Procurement)
{
    <div class="card">
        <div class="card-body">
            <div class="form-row"><p class="lead">@procurement.Subject</p></div>
            <div class="form-row"><p class="font-italic">@procurement.Description</p></div>
            <div class="form-row"><p class="col-12 small">Procurement officer: </p></div>
            <div class="row">
                <p class="col-4 small">Department: @procurement.Department</p>
                <p class="col-4 small">Is planned: <input checked="@procurement.IsPlanned" class="custom-checkbox" type="checkbox" disabled /></p>
                <p class="col-4 small">Procurement stage: <span class="badge badge-@procurement.StatusColorCode">@procurement.Status</span></p>
            </div>
            <div class="row">
                <p class="col-4 small">Estimated amount: @procurement.EstimatedAmount</p>
                <p class="col-4 small">Funding source: @procurement.FundingSource</p>
                <p class="col-4 small">Procurement method: @procurement.ProcurementMethod</p>
            </div>
        </div>
    </div>
}
<br />
