@page
@model ProcurementTracker.Pages.Suppliers.DetailsModel

@{
    ViewData["Title"] = "Service Provider Details";
}

<h3>Service Provider Details</h3>
<hr />
<p>
    <a asp-page="./Index" class="btn btn-outline-secondary btn-light"><i class="fas fa-angle-left"></i> Back to Service Providers</a>
    <a asp-page="./Edit" asp-route-id="@Model.Supplier.Id" class="btn btn-outline-secondary btn-light"><i class="fas fa-edit"></i> Edit</a>
</p>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Address)
        </dd>
    </dl>
</div>
