@page
@model ProcurementTracker.Pages.Suppliers.IndexModel

@{
    ViewData["Title"] = "Suppliers";
}

<h1>Suppliers</h1>
<hr />

<p>
    <a asp-page="Create" class="btn btn-light btn-outline-secondary">Add Supplier</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Supplier) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
